<form>
  <div fxLayout="row" style="margin-top: 10px;" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px"
    fxLayoutAlign="center">
    <mat-form-field fxFlex="100%" appearance="outline">
      <mat-label>נושא</mat-label>
      <input matInput placeholder="נושא" type="text" />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
    <mat-form-field fxFlex="80%" appearance="outline">
      <mat-label>שם</mat-label>
      <input matInput placeholder="שם" type="text" />
    </mat-form-field>
    <mat-form-field fxFlex="20%" appearance="outline">
      <mat-label>סוג</mat-label>
      <input matInput placeholder="סוג" type="text" />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
    <mat-form-field fxFlex="100%" appearance="outline">
      <mat-label>הערות</mat-label>
      <textarea matInput placeholder="הערות" rows="4"></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
    <mat-form-field fxFlex="80%" appearance="outline">
      <mat-label>בחר קובץ</mat-label>
      <mat-select>
        <mat-option *ngFor="let opt of options" [value]="opt">
          {{opt}}
        </mat-option>
      </mat-select>
      <mat-hint>יש לבחור ערך אחד מהרשימה</mat-hint>
    </mat-form-field>
    <div fxFlex="20%">
      <button type="button" class="button-icon" mat-icon-button (click)="click()" aria-label="לחץ לרענון">
        <mat-icon [class.spinner]="loading">refresh</mat-icon>
      </button>
      <button type="button" mat-icon-button aria-label="העתק" (click)="openSnackBar('הודעה ניסיון', 'סגור')">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </div>
  </div>

  <mat-accordion [multi]="true" style="margin-right: 15px;margin-left: 15px;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          העתקה לתיקיית משתמש
        </mat-panel-title>
        <mat-panel-description>
          בחר כדי להעתיק את הקובץ למקום נוסף ברשת
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-top: 10px;margin-bottom: 10px;">
        <mat-checkbox [checked]="showCustomCopy" (change)="showCustomCopy = !showCustomCopy">העתקה מיוחדת</mat-checkbox>
      </div>
      <div fxLayout="row" *ngIf="showCustomCopy" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px"
        fxLayoutAlign="center">
        <mat-form-field fxFlex="80%" appearance="outline">
          <mat-label>העתק</mat-label>
          <input matInput placeholder="העתק" type="text" />
        </mat-form-field>
        <div fxFlex="20%">
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          בחר מתחים
        </mat-panel-title>
        <mat-panel-description>
          בחר סוגי הפיענוח
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <div fxFlex="80%" appearance="outline">
          <div *ngFor="let parser of parsers">
            <mat-checkbox [checked]="parser.checked">{{parser.name}}</mat-checkbox>
            <br />
          </div>
        </div>
        <div fxFlex="20%">
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="end">
    <button mat-raised-button color="accent" (click)="click()" [disabled]="loading">
      שמור
      <!-- <mat-progress-spinner color="primary" diameter="12" mode="indeterminate">
        </mat-progress-spinner> -->
      <mat-icon *ngIf="loading" class="spinner">autorenew</mat-icon>
    </button>
  </div>
</form>