<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>כותרת</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-toolbar color="accent">
      <span>בקשה חדשה</span>
    </mat-toolbar>

    <mat-card-content>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <mat-form-field fxFlex="100%">
          <input matInput placeholder="נושא" type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <mat-form-field fxFlex="80%">
          <input matInput placeholder="שם" type="text" />
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input matInput placeholder="סוג" type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <mat-form-field fxFlex="100%">
          <textarea matInput placeholder="הערות" rows="4"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <mat-form-field fxFlex="80%">
          <mat-label>בחר קובץ</mat-label>
          <mat-select>
            <mat-option *ngFor="let opt of options" [value]="opt">
              {{opt}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="20%">
          <button mat-icon-button (click)="click()" aria-label="לחץ לרענון">
            <mat-icon [class.spinner]="loading">refresh</mat-icon>
          </button>
          <button mat-icon-button aria-label="העתק">
            <mat-icon>insert_drive_file</mat-icon>
          </button>
          <!-- <div>
            <button mat-icon-button (click)="click()" >             
              <mat-icon *ngIf="loading" class="spinner">refresh</mat-icon>
            </button>
            
           
            <mat-icon>insert_drive_file</mat-icon>
          </div> -->

        </div>

      </div>

      <mat-checkbox [checked]="show" (change)="show = !show">עוד פרטים</mat-checkbox>

      <div fxLayout="row" *ngIf="show" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
        <mat-form-field fxFlex="80%">
          <input matInput placeholder="העתק" type="text" />
        </mat-form-field>
        <div fxFlex="20%">
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="end">
        <button mat-raised-button color="accent" (click)="click()" [disabled]="loading">
          שמור
          <!-- <mat-progress-spinner color="primary" diameter="12" mode="indeterminate">
          </mat-progress-spinner> -->
          <mat-icon *ngIf="loading" class="spinner">autorenew</mat-icon>
        </button>
      </div>


    </mat-card-content>
  </mat-card>
</div>